.cooperationSection {
  min-height: 40vh; /* Jeder Abschnitt nimmt die volle Bildschirmhöhe ein */
  width: 100%; /* Die volle Bildschirmbreite */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; /* Hintergrundfarbe anpassen */
  color: black;
  
}
.abtrennungsLinie {
  border: 1px solid black; /* Schwarze Linie mit 1px Breite und solidem Stil */
  width: 98%;
  margin: 0px 0px 3rem 0px; /* Optional: Abstand oberhalb und unterhalb der Linie */
}
.cooperationHeader{
  margin-top: 1rem;
  margin-bottom: 2rem;

}
.cooperation-image{
  max-height: 5rem;
  padding: 2rem 10rem;
}

