/* Standard-Stile für große Bildschirme */
#menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.3rem;
  }
  
  #menu-bar .desktop-menu {
    display: flex;
    align-items: center;
  }
  
  #menu-bar .mobile-menu-button {
    display: none; /* Auf großen Bildschirmen ausblenden */
  }
  
  /* Stile für kleine Bildschirme (unter 768px, kann angepasst werden) */
  @media screen and (max-width: 768px) {
    #menu-bar .desktop-menu {
      display: none !important; /* Auf kleinen Bildschirmen ausblenden */
    }
  
    #menu-bar .mobile-menu-button {
      display: block !important; /* Auf kleinen Bildschirmen anzeigen */
      font-size: 24px; /* Anpassen der Schaltflächengröße */
    }
  
    /* Weitere Stile für das mobile Menü können hier hinzugefügt werden */
  }
  